apiVersion: apps/v1
kind: Deployment
metadata:
  name: security-agency
  namespace: default
  labels:
    app: security-agency
spec:
  replicas: 1
  selector:
    matchLabels:
      app: security-agency
  template:
    metadata:
      labels:
        app: security-agency
    spec:
      containers:
      - name: security-agency
        image: gabby.azurecr.io/security-agency:latest
        imagePullPolicy: Always
        ports:
        - containerPort: 8000
          name: http
        env:
        - name: ENVIRONMENT
          value: "k8s"
        readinessProbe:
          httpGet:
            path: /health
            port: http
          initialDelaySeconds: 10
          periodSeconds: 10
        livenessProbe:
          httpGet:
            path: /health
            port: http
          initialDelaySeconds: 30
          periodSeconds: 30
      volumes:
      tolerations:
      - key: "kubernetes.azure.com/scalesetpriority"
        operator: "Equal"
        value: "spot"
        effect: "NoSchedule"
---
apiVersion: v1
kind: Service
metadata:
  name: security-agency
  namespace: default
  labels:
    app: security-agency
spec:
  selector:
    app: security-agency
  ports:
  - port: 80
    targetPort: 8000
    name: http
  type: ClusterIP
