apiVersion: v1
kind: ConfigMap
metadata:
  name: profile-oauth2-sds
  namespace: default
data:
  profile-oauth2-sds.yaml: |
    resources:
    - "@type": type.googleapis.com/envoy.extensions.transport_sockets.tls.v3.Secret
      name: profile-oauth-token
      generic_secret:
        secret:
          inline_string: "${PROFILE_CLIENT_SECRET}"
    - "@type": type.googleapis.com/envoy.extensions.transport_sockets.tls.v3.Secret
      name: profile-oauth-hmac
      generic_secret:
        secret:
          inline_string: "${PROFILE_OAUTH_HMAC_SECRET}"
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: github-review-oauth2-sds
  namespace: default
data:
  github-review-oauth2-sds.yaml: |
    resources:
    - "@type": type.googleapis.com/envoy.extensions.transport_sockets.tls.v3.Secret
      name: github-review-oauth-token
      generic_secret:
        secret:
          filename: /mnt/secrets-store/github-review-client-secret
    - "@type": type.googleapis.com/envoy.extensions.transport_sockets.tls.v3.Secret
      name: github-review-oauth-hmac
      generic_secret:
        secret:
          filename: /mnt/secrets-store/github-review-oauth-hmac-secret
