apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

labels:
  - pairs:
      app.kubernetes.io/managed-by: kustomize
      project: bootsandcats
    includeSelectors: false
    includeTemplates: true

resources:
  - aks-istio-ingress
  - apps
  - data
  - istio
  - secrets

patches:
  - path: apps/configs/patch-spot-tolerations-deployments.yaml
    target:
      kind: Deployment
      namespace: default
  - path: apps/configs/patch-spot-tolerations-statefulsets.yaml
    target:
      kind: StatefulSet
      namespace: default
  - path: apps/configs/patch-spot-tolerations-daemonsets.yaml
    target:
      kind: DaemonSet
      namespace: default
  - path: apps/configs/patch-spot-tolerations-jobs.yaml
    target:
      kind: Job
      namespace: default
  - path: apps/configs/patch-spot-tolerations-cronjobs.yaml
    target:
      kind: CronJob
      namespace: default

generatorOptions:
  disableNameSuffixHash: true
