apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

labels:
  - pairs:
      app.kubernetes.io/managed-by: kustomize
      project: bootsandcats
    includeSelectors: false
    includeTemplates: true

resources:
  - aks-istio-ingress
  - apps
  - data
  - istio
  - secrets

generatorOptions:
  disableNameSuffixHash: true
