apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - grafana.yaml
  - tempo.yaml
  - otel-collector.yaml

generatorOptions:
  disableNameSuffixHash: true

configMapGenerator:
  - name: grafana-datasources
    files:
      - grafana/provisioning/datasources/datasources.yaml
  - name: grafana-dashboards-provisioning
    files:
      - grafana/provisioning/dashboards/dashboards.yaml
  - name: grafana-dashboards
    files:
      - grafana/dashboards/oauth2-slos.json
      - grafana/dashboards/oauth2-endpoints.json
  - name: tempo-config
    files:
      - tempo/tempo.yaml
  - name: otel-collector-config
    files:
      - ../../../otel-collector-config.yaml
