apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  name: oauth2scopes.oauth.bootsandcats.com
spec:
  group: oauth.bootsandcats.com
  scope: Namespaced
  names:
    kind: OAuth2Scope
    plural: oauth2scopes
    singular: oauth2scope
    shortNames:
      - oas
  versions:
    - name: v1alpha1
      served: true
      storage: true
      schema:
        openAPIV3Schema:
          type: object
          properties:
            spec:
              type: object
              required:
                - scope
              properties:
                scope:
                  type: string
                description:
                  type: string
                enabled:
                  type: boolean
                system:
                  type: boolean
            status:
              type: object
              properties:
                observedGeneration:
                  type: integer
                  format: int64
                conditions:
                  type: array
                  items:
                    type: string
