apiVersion: policy/v1
kind: PodDisruptionBudget
metadata:
  name: oauth2-server-pdb
  namespace: default
spec:
  minAvailable: 1
  selector:
    matchLabels:
      app: oauth2-server
---
apiVersion: policy/v1
kind: PodDisruptionBudget
metadata:
  name: postgres-pdb
  namespace: default
spec:
  minAvailable: 1
  selector:
    matchLabels:
      app: postgres

