micronaut:
  application:
    name: profile-ui
  server:
    port: ${PROFILE_UI_PORT:8085}
  metrics:
    enabled: true
    export:
      prometheus:
        enabled: true

endpoints:
  all:
    sensitive: false
  health:
    enabled: true
    details-visible: ANONYMOUS
  prometheus:
    enabled: true
